@import "./lib/_mixins.scss";


div.jcemslider[data-slider] {
  background: #293a41;
  padding: 0;
  display: block;
  clear: both;

  min-height: 120px;
  min-width: 120px;

  height: auto !important;
  max-height: initial !important;

  margin: 0 !important;
  padding: 0 !important;
  white-space: nowrap;

  &,
  * {
    color: #fff;
    vertical-align: middle !important;
    /* https://stackoverflow.com/questions/10612380/get-rid-of-space-underneath-inline-block-mgi */
  }

  &,
  * {
    margin: 0;
    padding: 0;
    border: 0;
  }

  >div.seletor>label,
  >div.mgs>.qdr>div.mgi {
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: auto 100% !important;

    >img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: initial !important;
      height: auto !important;
    }
  }

  &.cover,
  &.fitheight,
  &[height] {

    >div.seletor>label,
    >div.mgs>.qdr>div.mgi {
      >img {
        display: none !important;
      }
    }

    >div.mgs {
      max-height: 100%;
      height: 100% !important;
    }
  }

  &.cover {

    >div.seletor>label,
    >div.mgs>.qdr>div.mgi {
      background-size: cover !important;
    }
  }

  &.fitheight {

    >div.seletor>label,
    >div.mgs>.qdr>div.mgi {
      background-size: 100% auto !important;
    }
  }

  >nav.seletor {
    z-index: 1;
    position: absolute;

    bottom: 2em;
    left: 0;
    width: 100%;
    min-height: 1.3em;
    line-height: 1.3em;
    text-align: center !important;

    >label {
      display: inline-block;

      margin: 0 .15em;
      height: .6em;
      width: .6em;

      border: 1px solid transparent;

      cursor: pointer;

      @include border-radius(.31em);
      @include box-shadow(0, 0, 1.5em, rgba(0, 0, 0, .25));
      @include transition(.2s, 0s);

      &:hover {
        background: #fff;
        border-color: rgba(0, 0, 0, .2);
        @include box-shadow(0, 0, 1em, rgba(0, 0, 0, .3));
      }

      >img {
        display: none;
      }
    }
  }

  &.topnav>nav.seletor {
    bottom: initial !important;
    top: 1.5em;
  }

  &.miniaturas,
  &.miniatura {
    >nav.seletor {
      white-space: normal !important;
      bottom: 0;

      >label {
        >img {
          display: block;
        }
      }
    }
  }

  &:not(.miniaturas) {
    &:not(.miniatura) {
      >nav.seletor {
        white-space: nowrap !important;

        >label {
          background: rgba(230, 230, 230, .7) !important;

          &:hover {
            background: #fff !important;
          }
        }
      }
    }
  }

  >nav.pvnt {
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: calc(50% - 1.3em);
    left: 0;
    width: 100%;

    @include transition(.2s, 0s);

    >label {
      display: none;
      float: left;
      width: 2.5em;
      height: 2.5em;
      background: #fff;
      cursor: pointer;
      background: rgba(255, 255, 255, .35);

      margin: 0 1em;

      @include border-radius(1.6em);
      @include transition(.2s, 0s);
      @include box-shadow(0, 0, 2em, rgba(0, 0, 0, .15));

      &:hover {
        background: rgba(255, 255, 255, .8);
      }

      &:before {
        content: "\f104";
        font-size: 2.5em;
        line-height: 1.02em;
        color: rgba(0, 0, 0, 0.7);
        display: block;
        text-align: center;
      }

      >img {
        display: none;
      }
    }
  }

  &:hover {
    >nav.pvnt {
      opacity: 1;
    }
  }

  >div.mgs {
    z-index: 0;

    font-size: 0;
    /* https://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
    white-space: nowrap;
    overflow: hidden;
    line-height: 100%;
    max-width: 100%;

    p,
    br {
      display: none;
    }

    >.qdr {
      font-size: 1rem !important;
      display: inline-block !important;
      width: 100% !important;
      max-width: 100% !important;
      height: 100%;
      min-height: 100%;
      overflow: hidden;
      white-space: nowrap;
      vertical-align: middle !important;
      /* https://stackoverflow.com/questions/10612380/get-rid-of-space-underneath-inline-block-mgi */

      @include transition(.85s, 0s, all, cubic-bezier(0.77, 0, 0.175, 1));

      >.cnt {
        position: absolute !important;
        max-width: calc(70% - 4em) !important;
        max-height: calc(45% - 2em);
        height: calc(45% - 2em);
        overflow: hidden;
        top: 1.5em;
        left: 4em;

        opacity: 0;
        margin-left: 15%;
        @include transition(.7s, .5s);

        >*:not(.content) {
          >*:not(.text) {
            display: none;
          }
        }

        &,
        * {
          text-shadow: 0 0 1em rgba(0, 0, 0, 1) !important;
        }

        >.ttl,
        >div.text {
          position: relative;
          white-space: normal;
          text-align: left !important;
        }

        >.ttl {
          font-size: 1.4em;
          font-weight: bold;
        }

        >div.text {
          >* {
            display: block !important;
          }
        }
      }

      >div.mgi {
        height: auto !important;
        min-height: 100%;
        max-width: 100% !important;

        &,
        >img {
          display: flex;
          max-width: 100% !important;
          /* https://stackoverflow.com/questions/10612380/get-rid-of-space-underneath-inline-block-mgi */
        }

        > img{
          opacity: 0;
        }
      }
    }

    >a.qdr {
      text-decoration: none;

      &[href]:hover {
        .ttl {
          text-decoration: underline;
        }
      }

      &:before,
      &:after {
        display: none !important;
      }
    }
  }

  &.topnav>div.mgs>.qdr>.cnt {
    top: initial !important;
    bottom: 1.5em;
  }

  >input[type=radio] {
    opacity: 0;
    position: absolute;
    left: -100px;
    top: 0;
    z-index: 100;
    font-size: 0;
    height: 1px !important;
    width: 1px !important;
    max-height: 1px !important;
    max-width: 1px !important;

    &[ndc]:first-of-type {
      &:checked {
        ~nav.pvnt label.pvnt[ndc]:last-of-type {
          display: block !important;
        }
      }
    }

    &[ndc]:last-of-type {
      &:checked {
        ~nav.pvnt label.pvnt[ndc]:first-of-type {
          display: block !important;
          float: right !important;

          &:before {
            content: '\f105';
          }
        }
      }
    }

    &~div.mgs>.qdr {
      margin-left: -100%;
      pointer-events: none;
    }

    @for $i from 0 through 100 {
      &[ndc='#{$i}'] {
        &:checked {
          &~div.mgs {
            >.qdr {
              &[ndc='#{$i}'] {
                pointer-events: initial !important;
                margin-left: 0 !important;
                margin-right: 100% !important;

                >div.cnt {
                  opacity: 1 !important;
                  margin-left: 0;
                }
              }
            }
          }

          ~nav label:not(.pvnt)[ndc='#{$i}'] {
            background: rgba(0, 0, 0, .7) !important;
            border-color: rgba(0, 0, 0, .8);
          }

          @if ($i < 100) {
            ~nav.pvnt label[ndc='#{$i + 1}'] {
              display: block;
              float: right;

              &:before {
                content: '\f105';
              }
            }
          }

          @if ($i > 0) {
            ~nav.pvnt label[ndc='#{$i - 1}'] {
              display: block;
            }
          }
        }
      }
    }
  }

  &.fade {
    >input[type=radio] {
      &~div.mgs>.qdr {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        display: block;
        opacity: 0;

        &:first-of-type {
          float: left;
          position: relative !important;
        }

        &:not(:first-of-type) {
          max-height: 100%;
          max-width: 100%;
        }
      }

      @for $i from 0 through 100 {
        &[ndc='#{$i}'] {
          &:checked {
            &~div.mgs>.qdr {
              &[ndc='#{$i}'] {
                opacity: 1 !important;
                pointer-events: initial !important;
              }
            }

          }
        }
      }

      &,
      &:checked {
        &~div.mgs>.qdr {
          margin-right: 0 !important;
          margin-left: 0 !important;
        }
      }
    }
  }


  &:not(.covercontent) {

    &.righttext,
    &.lefttext {
      clear: both;

      &:not(.rightnav) {
        &:not(.leftnav) {

          >input[type=radio]~div.mgs,
          >div.mgs {
            float: left;

            >.qdr {
              >div.mgi {
                float: left;
                max-width: calc(55% - .5em) !important;
                width: calc(55% - .5em) !important;

                >img {
                  width: 100% !important;
                  height: auto !important;
                }
              }

              >.cnt {
                position: relative !important;
                max-width: calc(45%) !important;
                max-height: calc(100% - 2.5em);
                height: calc(100% - 2.5em);
                width: auto !important;
                margin: 0 0 0 calc(55% - .5em) !important;
                padding: 0 1em !important;
                left: 0;
                top: .5em;
                margin-right: 0 !important;

                &,
                * {
                  text-shadow: 0 0 1em transparent !important;
                }

                >* {
                  margin-right: 1em;
                }

                >div.text {
                  color: rgba(255, 255, 255, .7);
                  font-size: .9em;
                }

                >.ttl {
                  &:first-of-type {
                    margin-top: 1em;
                  }
                }
              }
            }
          }

          >nav.pvnt {
            max-width: calc(55% - .5em) !important;
            top: calc(50% - 3.7em);
          }
        }
      }

      &.rightnav,
      &.leftnav {

        >input[type=radio]~div.mgs,
        >div.mgs {
          float: left;
          width: calc(70% - 1em) !important;
          max-width: calc(70% - 1em) !important;
          margin: 0 !important;
        }



        >.pvnt {
          width: calc(70% - 1em) !important;
        }
      }

      &.leftnav {

        >input[type=radio]~div.mgs,
        >div.mgs,
        >.pvnt {
          margin-left: 30% !important;
        }
      }

      >input[type=radio] {
        @for $i from 0 through 100 {
          &[ndc='#{$i}'] {
            &:checked {
              ~nav label:not(.pvnt)[ndc='#{$i}'] {
                border-color: red !important;
                opacity: 1;
              }
            }
          }
        }
      }
    }

    &.righttext,
    &.lefttext {
      >div.mgs {
        float: none !important;
      }

      &:not(.miniatura) {
        &:not(.miniaturas) {
          >nav.seletor {
            max-width: calc(55% - .5em);
            width: calc(55% - .5em);
          }
        }
      }

      &.miniatura {
        font-size: 0;

        >nav.seletor {
          font-size: 1rem;
        }
      }
    }

    &.lefttext {
      &:not(.rightnav) {
        &:not(.leftnav) {

          >input[type=radio]~div.mgs,
          >div.mgs {
            >.qdr {
              >div.mgi {
                float: right !important;
              }

              >div.cnt {
                margin: 1.5em 0 !important
              }
            }
          }
        }
      }

      &:not(.miniatura) {
        &:not(.miniaturas) {
          >nav {
            margin-left: calc(45% + .5em);
          }
        }
      }

      >nav:not(.seletor) {
        margin-left: calc(45% + .5em);
      }
    }

    &.miniatura,
    &.miniaturas {
      >nav.seletor {
        position: relative;
        clear: both;
        background: rgba(0, 0, 0, .1);
        padding: .4em;
        padding-top: .5em;
        white-space: normal;
        width: 100%;
        max-width: 100%;

        >label {
          display: inline-block;
          width: 5.33em;
          height: 100%;
          margin: .15em !important;

          border: .15em solid #fff;
          opacity: .7;
          overflow: hidden;

          @include border-radius(.2em);
          @include box-shadow(0, 0, 0, #000);

          &:hover {
            opacity: 1;
            border-color: #000;
          }

          >img {
            min-height: 100%;
            min-width: 100%;
            max-height: 100%;
            max-width: 100%;
          }
        }
      }

      &.rightnav,
      &.leftnav {
        >nav.seletor {
          background: transparent;
          position: absolute;
          top: .25em;
          left: auto;
          right: 0;
          max-width: 30% !important;
          height: calc(100% - .5em) !important;
          padding: .5em;
          padding-right: .8em;
          overflow-y: auto;
          overflow-x: hidden;

          >label {
            width: 100%;
            height: auto !important;
            margin: .3em 0 !important;

            >img {
              height: auto !important;
              min-height: initial !important;
            }
          }
        }
      }

      &.lefttext {
        >nav.seletor {
          top: 0 !important;
        }
      }

      &.leftnav {
        >nav.seletor {
          left: 0;
          right: auto !important;
          padding-right: .5em;
          padding-left: .7em;
        }
      }
    }
  }

  &.covercontent {
    >div.mgs {
      display: block;
      padding: .5em;

      &,
      * {
        @include clearfix;
      }

      >.qdr {
        overflow: initial;

        &,
        * {
          max-width: initial !important;
          height: auto !important;
          max-height: initial !important;
          margin: .1rem;
        }

        >.mgi {
          display: none;
        }

        >.cnt {
          position: relative !important;
          top: 0 !important;
          left: 0 !important;

          width: 100% !important;
          max-width: 100% !important;
          font-size: .7rem;

          &,
          * {
            text-shadow: 0 0 0 transparent !important;
            color: rgba(0, 0, 0, .8) !important;
          }

          >.text>* {
            -webkit-column-break-inside: avoid;
            /* Chrome, Safari */
            page-break-inside: avoid;
            /* Theoretically FF 20+ */
            break-inside: avoid-column;
            /* IE 11 */
            display: table;
            /* Actually FF 20+ */
          }

          >.ttl {
            display: none;
          }
        }
      }
    }

    >nav.pvnt {
      background: rgba(0, 0, 0, .1);
      position: relative !important;
      opacity: 1 !important;
      padding: .5em 0;
      height: 3em;
      top: 0;
      bottom: auto;
      left: auto;

      &,
      * {
        font-size: .8em;
      }

      @include border-radius(.4em);
    }

    >nav.seletor {
      position: relative;
      bottom: 1.9em;
      margin: 0 3em 0 3em;
      width: auto;
    }
  }
}